In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("draft_combine_stats.csv")
df.head(5)

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   season                        1202 non-null   int64
 1   player_id                     1202 non-null   int64
 2   first_name                    1202 non-null   object
 3   last_name                     1202 non-null   object
 4   player_name                   1202 non-null   object
 5   position                      1197 non-null   object
 6   height_wo_shoes               1153 non-null   float64
 7   height_wo_shoes_ft_in         1153 non-null   object
 8   height_w_shoes                1008 non-null   float64
 9   height_w_shoes_ft_in          1008 non-null   object
 10  weight                        1152 non-null   float64
 11  wingspan                      1153 non-null   float64
 12  wingspan_ft_in                1153 non-null   object
 13  standing_reach                1152 non-null   float64
 14  standing_reach_ft_in          1152 non-null   object
 15  body_fat_pct                  1003 non-null   float64
 16  hand_length                   719 non-null    float64
 17  hand_width                    719 non-null    float64
 18  standing_vertical_leap        1017 non-null   float64
 19  max_vertical_leap             1017 non-null   float64
 20  lane_agility_time             1008 non-null   float64
 21  modified_lane_agility_time    411 non-null    float64
 22  three_quarter_sprint          1012 non-null   float64
 23  bench_press                   808 non-null    float64
 24  spot_fifteen_corner_left      74 non-null     object
 25  spot_fifteen_break_left       76 non-null     object
 26  spot_fifteen_top_key          76 non-null     object
 27  spot_fifteen_break_right      76 non-null     object
 28  spot_fifteen_corner_right     76 non-null     object
 29  spot_college_corner_left      245 non-null    object
 30  spot_college_break_left       166 non-null    object
 31  spot_college_top_key          166 non-null    object
 32  spot_college_break_right      166 non-null    object
 33  spot_college_corner_right     166 non-null    object
 34  spot_nba_corner_left          217 non-null    object
 35  spot_nba_break_left           217 non-null    object
 36  spot_nba_top_key              217 non-null    object
 37  spot_nba_break_right          217 non-null    object
 38  spot_nba_corner_right         217 non-null    object
 39  off_drib_fifteen_break_left   166 non-null    object
 40  off_drib_fifteen_top_key      166 non-null    object
 41  off_drib_fifteen_break_right  166 non-null    object
 42  off_drib_college_break_left   110 non-null    object
 43  off_drib_college_top_key      31 non-null     object
 44  off_drib_college_break_right  31 non-null     object
 45  on_move_fifteen               148 non-null    object
 46  on_move_college               116 non-null    object
dtypes: float64(14), int64(2), object(31)
memory usage: 441.5+ KB

In [42]:
missingData = df.isnull().mean() * 100
print(missingData[missingData > 0].sort_values(ascending=False))

off_drib_college_break_right    97.420965
off_drib_college_top_key        97.420965
spot_fifteen_corner_left        93.843594
spot_fifteen_top_key            93.677205
spot_fifteen_corner_right       93.677205
spot_fifteen_break_right        93.677205
spot_fifteen_break_left         93.677205
off_drib_college_break_left     90.848586
on_move_college                 90.349418
on_move_fifteen                 87.687188
spot_college_break_left         86.189684
off_drib_fifteen_break_left     86.189684
spot_college_corner_right       86.189684
spot_college_break_right        86.189684
spot_college_top_key            86.189684
off_drib_fifteen_top_key        86.189684
off_drib_fifteen_break_right    86.189684
spot_nba_break_right            81.946755
spot_nba_top_key                81.946755
spot_nba_break_left             81.946755
spot_nba_corner_left            81.946755
spot_nba_corner_right           81.946755
spot_college_corner_left        79.617304
modified_lane_agility_time      65.806988
hand_width                      40.183028
hand_length                     40.183028
bench_press                     32.778702
body_fat_pct                    16.555740
height_w_shoes                  16.139767
lane_agility_time               16.139767
height_w_shoes_ft_in            16.139767
three_quarter_sprint            15.806988
max_vertical_leap               15.391015
standing_vertical_leap          15.391015
standing_reach_ft_in             4.159734
weight                           4.159734
standing_reach                   4.159734
wingspan                         4.076539
height_wo_shoes                  4.076539
wingspan_ft_in                   4.076539
height_wo_shoes_ft_in            4.076539
position                         0.415973
dtype: float64

In [43]:
df.shape

(1202, 47)

In [44]:
fechaSeleccionada = df[df["season"] >= 2022]
fechaSeleccionada

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
1038,2022,1630534,Ochai,Agbaji,Ochai Agbaji,SG,76.50,6' 4.50'',77.75,6' 5.75'',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1039,2022,1631116,Patrick,Baldwin Jr.,Patrick Baldwin Jr.,SF,81.25,6' 9.25'',82.25,6' 10.25'',...,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,12-25
1040,2022,1631094,Paolo,Banchero,Paolo Banchero,PF,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1041,2022,1631230,Dominick,Barlow,Dominick Barlow,PF,80.75,6' 8.75'',81.75,6' 9.75'',...,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,9-25
1042,2022,1630699,MarJon,Beauchamp,MarJon Beauchamp,SG,77.25,6' 5.25'',78.50,6' 6.50'',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,14-25
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23-30,NaN,NaN,NaN,17-25

In [45]:
df.shape

(1202, 47)

In [46]:
#Eliminamos las columnas que no vamos a utilizar
dfEliminados = df.drop(["first_name", "last_name", "height_wo_shoes", "height_wo_shoes_ft_in", "height_w_shoes", "height_w_shoes_ft_in", "wingspan", "wingspan_ft_in", "standing_reach", "standing_reach_ft_in", "body_fat_pct", "hand_length", "hand_width", "modified_lane_agility_time", "bench_press", "spot_fifteen_corner_left", "spot_fifteen_break_left", "spot_fifteen_top_key", "spot_fifteen_break_right", "spot_fifteen_corner_right", "spot_college_corner_left", "spot_college_break_left", "spot_college_top_key", "spot_college_break_right", "spot_college_corner_right", "spot_nba_corner_left", "spot_nba_break_left", "spot_nba_top_key", "spot_nba_break_right", "spot_nba_corner_right", "off_drib_fifteen_break_left", "off_drib_fifteen_top_key", "off_drib_fifteen_break_right", "off_drib_college_break_left", "off_drib_college_top_key", "off_drib_college_break_right", "on_move_fifteen", "on_move_college"], axis=1)
dfEliminados

,season,player_id,player_name,position,weight,standing_vertical_leap,max_vertical_leap,lane_agility_time,three_quarter_sprint
0,2001,12033,Adam Allenspach,C,259.0,28.5,31.0,11.90,3.40
1,2001,2240,Gilbert Arenas,SG,199.0,31.5,36.0,NaN,3.25
2,2001,2220,Brandon Armstrong,SG,188.0,30.0,37.0,10.91,3.20
3,2001,2203,Shane Battier,SF-PF,229.0,29.5,33.0,10.95,3.30
4,2001,12034,Cookie Belcher,SG-PG,206.0,35.0,41.5,11.26,2.91
...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor Wembanyama,C,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq Whitehead,SG,217.2,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam Whitmore,SF,235.0,31.5,40.5,10.82,3.20
1200,2023,1630592,Jalen Wilson,SF,230.2,31.5,35.0,11.26,3.20
1201,2023,1631209,Isaiah Wong,SG,178.4,32.5,37.0,10.93,3.22

In [47]:
# Identificar columnas con valores nulos
valoresFaltantesColumnas = dfEliminados.columns[dfEliminados.isnull().any()]

# Imprimir las columnas con valores nulos
print("Columnas con valores nulos:\n", valoresFaltantesColumnas)

# Rellenar valores nulos con el promedio de la columna agrupado por país
for column in valoresFaltantesColumnas:
    dfEliminados.loc[:, column] = dfEliminados.groupby("player_id")[column].transform(lambda x: x.fillna(0))

# Mostrar la tabla resultante
print("Tabla después de la imputación de valores nulos:\n", dfEliminados)

Columnas con valores nulos:
 Index(['position', 'weight', 'standing_vertical_leap', 'max_vertical_leap',
       'lane_agility_time', 'three_quarter_sprint'],
      dtype='object')
Tabla después de la imputación de valores nulos:
       season  player_id        player_name position  weight  \
0       2001      12033    Adam Allenspach        C   259.0
1       2001       2240     Gilbert Arenas       SG   199.0
2       2001       2220  Brandon Armstrong       SG   188.0
3       2001       2203      Shane Battier    SF-PF   229.0
4       2001      12034     Cookie Belcher    SG-PG   206.0
...      ...        ...                ...      ...     ...
1197    2023    1641705  Victor Wembanyama        C     0.0
1198    2023    1641727    Dariq Whitehead       SG   217.2
1199    2023    1641715       Cam Whitmore       SF   235.0
1200    2023    1630592       Jalen Wilson       SF   230.2
1201    2023    1631209        Isaiah Wong       SG   178.4

      standing_vertical_leap  max_vertical_leap  lane_agility_time  \
0                       28.5               31.0              11.90
1                       31.5               36.0               0.00
2                       30.0               37.0              10.91
3                       29.5               33.0              10.95
4                       35.0               41.5              11.26
...                      ...                ...                ...
1197                     0.0                0.0               0.00
1198                     0.0                0.0               0.00
1199                    31.5               40.5              10.82
1200                    31.5               35.0              11.26
1201                    32.5               37.0              10.93

      three_quarter_sprint
0                     3.40
1                     3.25
2                     3.20
3                     3.30
4                     2.91
...                    ...
1197                  0.00
1198                  0.00
1199                  3.20
1200                  3.20
1201                  3.22

[1202 rows x 9 columns]

In [48]:
dfEliminados.head()

,season,player_id,player_name,position,weight,standing_vertical_leap,max_vertical_leap,lane_agility_time,three_quarter_sprint
0,2001,12033,Adam Allenspach,C,259.0,28.5,31.0,11.90,3.40
1,2001,2240,Gilbert Arenas,SG,199.0,31.5,36.0,0.00,3.25
2,2001,2220,Brandon Armstrong,SG,188.0,30.0,37.0,10.91,3.20
3,2001,2203,Shane Battier,SF-PF,229.0,29.5,33.0,10.95,3.30
4,2001,12034,Cookie Belcher,SG-PG,206.0,35.0,41.5,11.26,2.91

In [50]:
dfEliminados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season                  1202 non-null   int64
 1   player_id               1202 non-null   int64
 2   player_name             1202 non-null   object
 3   position                1202 non-null   object
 4   weight                  1202 non-null   float64
 5   standing_vertical_leap  1202 non-null   float64
 6   max_vertical_leap       1202 non-null   float64
 7   lane_agility_time       1202 non-null   float64
 8   three_quarter_sprint    1202 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 84.6+ KB

In [49]:
dfEliminados.to_csv("draft_combine_stats_sql.csv")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Configuración de la conexión a la base de datos
DATABASE_TYPE = 'mssql'
DBAPI = 'pyodbc'  
HOST = 'localhost'
USER = 'DESKTOP-J6486DS'
PASSWORD = ''
DATABASE = '..'
PORT = '1433'  

# Crear la cadena de conexión
connection_string = f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

# Función para actualizar la base de datos
def actualizar_base_datos():
    # Aquí puedes realizar tus operaciones de actualización
    # Por ejemplo, leer un archivo CSV y actualizar la base de datos
    df = pd.read_csv('DATABASE.csv')  
    df.to_sql('nombre_de_tu_tabla', con=engine, if_exists='replace', index=False)  # Cambia esto según tu tabla

    print("Base de datos actualizada con éxito.")

# Ejecutar la función
if __name__ == "__main__":
    actualizar_base_datos()