In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Leer el archivo CSV
df = pd.read_csv('officials.csv')

# Mostrar las primeras filas del dataframe
print(df.head())
print("*************************************")

# Mostrar la información básica del dataframe
print(df.info())
print("*************************************")

# Mostrar las estadísticas descriptivas del dataframe
print(df.describe())
print("*************************************")

# Visualizar la distribución de una variable numérica
#sns.histplot(df['game_id'])

# Visualizar la relación entre dos variables numéricas
#sns.scatterplot(x='columna_x', y='columna_y', data=df)

# Identificar valores nulos o missing
print("La cantidad de nulos es:\n", df.isnull().sum())

# Identificar outliers en una variable numérica
#Q1 = df['game_id'].quantile(0.25)
#Q3 = df['game_id'].quantile(0.75)
#IQR = Q3 - Q1
#print(df[~((df['game_id'] < (Q1 - 1.5 * IQR)) | (df['game_id'] > (Q3 + 1.5 * IQR)))])

    game_id  official_id first_name  last_name  jersey_num
0  29600059         1140      Bruce  Alexander         9.0
1  29600059         1165       Luis     Grillo         8.0
2  29600059         1153        Joe   Crawford        17.0
3  29600114         1147       Mike   Callahan        24.0
4  29600114         1142       Dick    Bavetta        27.0
*************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70971 entries, 0 to 70970
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   game_id      70971 non-null  int64
 1   official_id  70971 non-null  int64
 2   first_name   70971 non-null  object
 3   last_name    70971 non-null  object
 4   jersey_num   70781 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.7+ MB
None
*************************************
            game_id   official_id    jersey_num
count  7.097100e+04  7.097100e+04  70781.000000
mean   2.201215e+07  6.954090e+05     39.341857
std    5.676262e+06  3.295045e+07     21.700928
min    1.050000e+07  1.000000e+00      0.000000
25%    2.070015e+07  1.180000e+03     22.000000
50%    2.130076e+07  2.002000e+03     38.000000
75%    2.180109e+07  2.008340e+05     56.000000
max    4.960009e+07  1.962938e+09    166.000000
*************************************
La cantidad de nulos es:
 game_id          0
official_id      0
first_name       0
last_name        0
jersey_num     190
dtype: int64