In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("regular_season_box_scores_2010_2024_part_2.csv")
df.head(5)

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-12-11,21000347,HOU vs. CLE,1610612745,Houston,Rockets,HOU,rockets,2449,...,6,8,14,1,1,0,4,3,14,10
1,2010-11,2010-11-19,21000173,HOU @ TOR,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,4,5,3,1,1,2,3,19,0
2,2011-12,2012-03-18,21100667,HOU @ PHX,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,4,7,3,0,0,0,2,18,-6
3,2010-11,2010-12-22,21000429,HOU @ LAC,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,2,3,2,2,2,4,5,22,-3
4,2010-11,2011-02-22,21000840,HOU @ DET,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,6,9,1,1,2,3,3,8,1

In [3]:
df.shape

(141493, 34)

In [4]:
fechaSeleccionada = df[df["season_year"] == "2022-23"]
fechaSeleccionada

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
2500,2022-23,2023-01-28,22200743,HOU @ DET,1610612745,Houston,Rockets,HOU,rockets,201569,...,0,0,0,7,2,0,4,0,24,0
2522,2022-23,2023-01-08,22200601,HOU vs. MIN,1610612745,Houston,Rockets,HOU,rockets,201569,...,1,0,1,4,0,1,0,0,11,1
2523,2022-23,2022-12-13,22200411,HOU vs. PHX,1610612745,Houston,Rockets,HOU,rockets,201569,...,0,3,3,1,0,2,3,3,10,6
2538,2022-23,2023-01-15,22200649,HOU @ LAC,1610612745,Houston,Rockets,HOU,rockets,201569,...,1,2,3,2,0,1,1,1,24,-8
2546,2022-23,2022-10-26,22200063,HOU @ UTA,1610612745,Houston,Rockets,HOU,rockets,201569,...,0,2,2,3,2,0,1,0,16,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140856,2022-23,2022-10-21,22200023,NYK vs. DET,1610612752,New York,Knicks,NYK,knicks,1631211,...,0,1,1,0,0,0,0,0,0,-2
140857,2022-23,2023-03-31,22201154,NYK @ CLE,1610612752,New York,Knicks,NYK,knicks,1631211,...,0,0,0,0,0,0,0,0,0,0
140858,2022-23,2023-02-24,22200895,NYK @ WAS,1610612752,New York,Knicks,NYK,knicks,1631211,...,0,0,0,0,0,0,0,0,0,0
140859,2022-23,2023-04-05,22201190,NYK @ IND,1610612752,New York,Knicks,NYK,knicks,1631211,...,0,0,0,0,0,0,0,0,0,0
140860,2022-23,2023-04-02,22201168,NYK vs. WAS,1610612752,New York,Knicks,NYK,knicks,1631211,...,0,0,0,0,0,0,0,0,0,0

In [5]:
fechaSeleccionada.shape

(10591, 34)

In [6]:
fechaSeleccionada.to_csv("regular_season_box_scores_2010_2024_part_2_sql.csv")