In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("regular_season_box_scores_2010_2024_part_1.csv")
df.head()

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-11-10,21000112,NJN @ CLE,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,-4
1,2010-11,2010-11-17,21000165,NJN @ UTA,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
2,2010-11,2010-11-27,21000237,NJN @ PHI,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
3,2010-11,2010-12-12,21000351,NJN vs. LAL,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
4,2010-11,2010-10-29,21000020,NJN vs. SAC,1610612751,New Jersey,Nets,NJN,nets,693,...,0,1,1,1,0,0,1,1,2,6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141493 entries, 0 to 141492
Data columns (total 34 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season_year              141493 non-null  object
 1   game_date                141493 non-null  object
 2   gameId                   141493 non-null  int64
 3   matchup                  141493 non-null  object
 4   teamId                   141493 non-null  int64
 5   teamCity                 141493 non-null  object
 6   teamName                 141493 non-null  object
 7   teamTricode              141493 non-null  object
 8   teamSlug                 141493 non-null  object
 9   personId                 141493 non-null  int64
 10  personName               141493 non-null  object
 11  position                 55660 non-null   object
 12  comment                  23494 non-null   object
 13  jerseyNum                0 non-null       float64
 14  minutes                  117999 non-null  object
 15  fieldGoalsMade           141493 non-null  int64
 16  fieldGoalsAttempted      141493 non-null  int64
 17  fieldGoalsPercentage     141493 non-null  float64
 18  threePointersMade        141493 non-null  int64
 19  threePointersAttempted   141493 non-null  int64
 20  threePointersPercentage  141493 non-null  float64
 21  freeThrowsMade           141493 non-null  int64
 22  freeThrowsAttempted      141493 non-null  int64
 23  freeThrowsPercentage     141493 non-null  float64
 24  reboundsOffensive        141493 non-null  int64
 25  reboundsDefensive        141493 non-null  int64
 26  reboundsTotal            141493 non-null  int64
 27  assists                  141493 non-null  int64
 28  steals                   141493 non-null  int64
 29  blocks                   141493 non-null  int64
 30  turnovers                141493 non-null  int64
 31  foulsPersonal            141493 non-null  int64
 32  points                   141493 non-null  int64
 33  plusMinusPoints          141493 non-null  int64
dtypes: float64(4), int64(19), object(11)
memory usage: 36.7+ MB

In [5]:
df.shape

(141493, 34)

In [6]:
fechaSeleccionada = df[df["season_year"] == "2022-23"]
fechaSeleccionada

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
7161,2022-23,2023-01-18,22200670,ATL @ DAL,1610612737,Atlanta,Hawks,ATL,hawks,202324,...,0,0,0,0,0,0,0,0,0,0
7162,2022-23,2023-01-11,22200620,ATL vs. MIL,1610612737,Atlanta,Hawks,ATL,hawks,202324,...,0,0,0,0,0,0,0,0,0,0
7163,2022-23,2023-01-20,22200684,ATL vs. NYK,1610612737,Atlanta,Hawks,ATL,hawks,202324,...,0,0,0,0,0,0,0,0,0,0
7164,2022-23,2023-01-13,22200633,ATL @ IND,1610612737,Atlanta,Hawks,ATL,hawks,202324,...,0,0,0,0,0,0,0,0,0,0
7165,2022-23,2023-01-16,22200661,ATL vs. MIA,1610612737,Atlanta,Hawks,ATL,hawks,202324,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140572,2022-23,2023-03-24,22201103,GSW vs. PHI,1610612744,Golden State,Warriors,GSW,warriors,1631311,...,0,0,0,0,0,0,0,0,0,0
140574,2022-23,2023-03-05,22200964,GSW @ LAL,1610612744,Golden State,Warriors,GSW,warriors,1631311,...,0,0,0,0,0,0,0,0,0,0
140579,2022-23,2023-04-09,22201230,GSW @ POR,1610612744,Golden State,Warriors,GSW,warriors,1631311,...,1,0,1,1,1,0,1,0,9,11
140583,2022-23,2023-04-04,22201187,GSW vs. OKC,1610612744,Golden State,Warriors,GSW,warriors,1631311,...,0,0,0,0,0,0,2,0,1,-2
140585,2022-23,2023-03-11,22201012,GSW vs. MIL,1610612744,Golden State,Warriors,GSW,warriors,1631311,...,0,0,0,0,0,0,0,0,0,0

In [7]:
fechaSeleccionada.shape

(10412, 34)

In [8]:
fechaSeleccionada.to_csv("regular_season_box_scores_2010_2024_part_1_sql.csv")