In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("regular_season_box_scores_2010_2024_part_3.csv")
df.head()

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2015-16,2016-02-25,21500857,OKC @ NOP,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,0,0,0,1,0,0,0,0,0,1
1,2017-18,2017-12-07,21700365,OKC @ BKN,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,2,1,3,1,0,0,1,0,2,4
2,2012-13,2012-12-31,21200456,OKC vs. PHX,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,4,5,9,2,1,0,1,2,10,-5
3,2013-14,2013-12-29,21300450,OKC vs. HOU,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,1,4,5,3,0,0,1,1,4,5
4,2017-18,2017-12-16,21700431,OKC @ NYK,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,0,1,1,0,0,0,0,2,3,-4

In [3]:
df.shape

(141492, 34)

In [4]:
fechaSeleccionada = df[df["season_year"] == "2022-23"]
fechaSeleccionada

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
7076,2022-23,2023-02-01,22200773,OKC @ HOU,1610612760,Oklahoma City,Thunder,OKC,thunder,203488,...,2,1,3,0,0,0,0,1,6,-6
7077,2022-23,2022-11-07,22200146,OKC @ DET,1610612760,Oklahoma City,Thunder,OKC,thunder,203488,...,0,4,4,0,0,1,0,3,11,9
7078,2022-23,2023-01-08,22200602,OKC vs. DAL,1610612760,Oklahoma City,Thunder,OKC,thunder,203488,...,1,2,3,1,0,1,1,2,4,10
7091,2022-23,2022-11-03,22200119,OKC vs. DEN,1610612760,Oklahoma City,Thunder,OKC,thunder,203488,...,0,2,2,0,0,0,0,3,0,7
7093,2022-23,2022-11-21,22200254,OKC vs. NYK,1610612760,Oklahoma City,Thunder,OKC,thunder,203488,...,0,1,1,1,0,0,0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141405,2022-23,2023-03-22,22201083,WAS vs. DEN,1610612764,Washington,Wizards,WAS,wizards,1641645,...,1,0,1,0,0,0,0,0,0,6
141406,2022-23,2023-04-09,22201222,WAS vs. HOU,1610612764,Washington,Wizards,WAS,wizards,1641645,...,7,7,14,0,2,2,1,2,10,3
141407,2022-23,2023-03-21,22201077,WAS @ ORL,1610612764,Washington,Wizards,WAS,wizards,1641645,...,0,0,0,0,0,0,0,0,0,0
141408,2022-23,2023-04-04,22201179,WAS vs. MIL,1610612764,Washington,Wizards,WAS,wizards,1641645,...,0,2,2,1,0,0,2,3,8,5
141409,2022-23,2023-04-05,22201191,WAS @ ATL,1610612764,Washington,Wizards,WAS,wizards,1641645,...,2,4,6,3,1,1,1,3,6,2

In [5]:
fechaSeleccionada.shape

(10539, 34)

In [6]:
fechaSeleccionada.to_csv("regular_season_box_scores_2010_2024_part_3_sql.csv")